<h1 class="vf-text vf-text-heading--2">My Projects</h1>
<p class="vf-text-body vf-text-body--3 vf-u-text-color--grey">These are your projects created for the Human Cell Atlas</p>
<div align="right"><a class="vf-button vf-button--primary vf-button--sm" routerLink="/projects/new" >New Project</a></div>
<app-project-list [projects]=projects></app-project-list>
<mat-paginator [length]="currentPageInfo['totalElements']"
               [pageSize]="currentPageInfo['size']"
               [pageIndex]="currentPageInfo['number']"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>
