<div class="card">
  <div class="card-body">
    <div class="form-group">
      <h4 class="card-title">Upload a Spreadsheet</h4>
      <p>
        Upload your completed spreadsheet:<br/>
        <input type="file" #fileInput placeholder="Upload file..."/><br/><br/>
        <input type="hidden" #projectIdInput name="project_id" value="{{projectId}}" /><br/><br/>
        <button type="button" (click)="upload()" class="btn btn-success">Upload spreadsheet</button>
      </p>
    </div>
    <a href="{{downloadFile}}" target="_self" download>
      <span>Download Empty Spreadsheet</span>
      <span class="oi oi-data-transfer-download"></span>
    </a>
  </div>
</div>
