/*override material theme*/
.ngx-datatable.material {
  box-shadow: none;
  font-size: 13px;
}

.icon-check {
  fill: #28a745;
}

.icon-x {
  fill: #dc3545;
}

.icon-ellipses {
  fill: #ffc107;
}

/*default body height*/
datatable-body.datatable-body{
  height: 500px;
}

/* TODO revisit ViewEncapsulation.None on component, use :host-context instead  */
app-metadata-list {
  display: block;
  margin-top: 24px;
}

.ngx-datatable.material .datatable-body .datatable-row-detail {
  background: #fafafa;
}
