<!--<div class="card">-->
  <!--<div class="card-body">-->
    <div class="card">
      <div class="card-header">
        {{metadataType}}
      </div>
      <!--<div class="card-body">-->
      <table class="table table-sm" *ngIf="metadataList">
        <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Validation Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let metadata of metadataList">
          <td>{{metadata?.uuid?.uuid}}</td>
          <td>
            <div [ngSwitch]="metadata.validationState">
              <span *ngSwitchCase="'Draft'" class="badge badge-warning">{{metadata.validationState}}</span>
              <span *ngSwitchCase="'Validating'" class="badge badge-info">{{metadata.validationState}}</span>
              <span *ngSwitchCase="'Valid'" class="badge badge-success">{{metadata.validationState}}</span>
              <span *ngSwitchCase="'Invalid'" class="badge badge-error">{{metadata.validationState}}</span>
              <span *ngSwitchCase="'Processing'" class="badge border border-warning bg-light text-warning">{{metadata.validationState}}</span>
              <span *ngSwitchCase="'Complete'" class="badge badge-secondary">{{metadata.validationState}}</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!--</div>-->

    </div>
  <!--</div>-->
<!--</div>-->
