<div class="vf-form__item">
  <app-vf-asterisk [isRequired]="isRequired"></app-vf-asterisk>
  <label *ngIf="label" class="vf-form__label">{{label}}</label>
  <input type="text"
         placeholder="{{example}}"
         matInput
         [formControl]="searchControl"
         [matAutocomplete]="auto" class="vf-form__input"
         (focusout)="updateControl(searchControl.value)">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOntology" (optionSelected)="updateControl(searchControl.value)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{displayOntology(option)}}
    </mat-option>
  </mat-autocomplete>
  <p *ngIf="helperText" class="vf-form__helper">{{helperText}}</p>
</div>
