<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">-->

  <a class="navbar-brand" href="/home">Human Cell Atlas</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="auth.isAuthenticated()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/submissions/list">Submissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects/list">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="View all submissions" [routerLink]="['/submissions/list', {all: 1}]"><span class="oi oi-eye"></span></a>
      </li>
    </ul>

    <ul *ngIf="auth.isAuthenticated()" class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown">
        <a *ngIf="auth.isAuthenticated()" class="nav-item nav-link mr-md-2" id="bd-versions"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ profile?.picture}}" class="rounded-circle profile-image">{{ profile?.name }}
        </a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button type="submit"
              class="btn btn-logout"
              *ngIf="auth.isAuthenticated()"
              (click)="auth.logout()">Sign out
      </button>
    </form>
  </div>
</nav>
