.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// custom angular material theme
@import '~@angular/material/theming';
@include mat-core();
@import 'hca-blue-app-theme';
@include angular-material-theme($hca-blue-app-theme);


$grey-color: #f2f2f2;
$dark-grey-color: #d4d4d4;

.dashboard {
  table{
    border-spacing: 2px;
    width: 100%;
  }

  thead {
    th {
      background-color: $dark-grey-color;
      padding: 10px;
      font-weight: 300;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: $grey-color;
    }

    td {
      padding: 10px;
      font-weight: 300;
    }

  }
}


