<div class="container"><br/>
<form (ngSubmit)="createProject(projectForm.value)" [formGroup]="projectForm">
  <h2>Project</h2>
  <br/>
  <div class="form-group" >
    <label for="projectId">Project ID</label>
    <input type="text" class="form-control" id="projectId" formControlName="projectId" placeholder="{{placeholder['projectId']}}">
    <label for="title">Title</label>
    <textarea type="text" class="form-control" id="title" formControlName="name" rows="3" placeholder="{{placeholder['name']}}"></textarea>
    <label for="description">Description</label>
    <textarea type="text"
              class="form-control"
              id="description" rows="10"
              formControlName="description"
              placeholder="{{placeholder['description']}}">
    </textarea>
  </div>
  <!--<h3>Contributors</h3>-->
  <!--<div>-->
  <!--<div class="form-group" formArrayName="contributors">-->
    <!--<div *ngFor="let contributor of contributors.controls; let i=index" [formGroupName]="i" >-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->
          <!--<label for="contactName">Name</label>-->
          <!--<input type="text" class="form-control" id="contactName" formControlName="name">-->
          <!--<label for="contactCity">City</label>-->
          <!--<input type="text" class="form-control" id="contactCity" formControlName="city">-->
          <!--<label for="contactCity">Country</label>-->
          <!--<input type="text" class="form-control" id="contactCountry" formControlName="country">-->
          <!--<label for="contactCity">Institution</label>-->
          <!--<input type="text" class="form-control" id="contactInstitution" formControlName="institution">-->
          <!--<label for="contactCity">Address</label>-->
          <!--<input type="text" class="form-control" id="contactAddress" formControlName="address">-->
          <!--<label for="contactCity">Email</label>-->
          <!--<input type="text" class="form-control" id="contactEmail" formControlName="email">-->
          <!--<br/>-->
          <!--<button (click)="removeContributor()" type=button class="btn btn-info">Remove</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<br/>-->
    <!--</div>-->
    <!--<button type=button (click)="addContributor()" class="btn btn-info"> Add Contributor</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="projects$ | async as projects" >-->
    <!--<label for="project">Or choose existing</label>-->
    <!--<select class="form-control" id="project" >-->
      <!--<option *ngFor="let project of projects"-->
              <!--[value]="project.content.name">-->
        <!--{{project.content.name}}-->
      <!--</option>-->
    <!--</select>-->
  <!--</div>-->

  <!--<h2>Other public sources</h2>-->
  <!--<div class="form-group">-->
    <!--<label for="publication">Link to original publication, if available</label>-->
    <!--<input type="text" class="form-control" id="publication">-->
    <!--<label for="repository">Link to original or alternative data repository</label>-->
    <!--<input type="text" class="form-control" id="repository">-->
  <!--</div>-->

  <!--<h2>This submission</h2>-->
  <!--<div class="form-group">-->
    <!--<label for="shortname">Short name (for easy reference in this system)</label>-->
    <!--<input type="text" class="form-control" id="shortname">-->
  <!--</div>-->

  <button type="submit" class="btn btn-success">Save and Exit</button>
  <button type="submit" class="btn btn-success">Save and Continue</button>

</form>

</div>

<!--{{projectForm.value | json}}-->
