<h1>Projects</h1>
<div class="row">
  <div class="col-8">
    <p>Here is where you search and view all projects.
      Thanks for contributing for the future of science.</p>
  </div>
  <!--<div class="col-4">-->
    <!--<button type="button" class="btn btn-success float-right align-self-center" routerLink="/projects/new">Create a new project</button>-->
  <!--</div>-->
</div>
<br/>

<button type="button" class="btn btn-success float-right align-self-center" (click)="redirect()">Create a new project</button>

<app-project-list></app-project-list>


