<div class="container">
  <h1>Submission</h1>
  <tabs>
    <tab [tabTitle]="'Overview'"><app-project></app-project></tab>
    <tab tabTitle="Data"><app-files></app-files></tab>
    <tab tabTitle="Sample Info"><app-samples></app-samples></tab>
    <tab tabTitle="Assays"><app-assays></app-assays></tab>
    <tab tabTitle="Analyses"><app-analyses></app-analyses></tab>
    <tab tabTitle="Bundles"><app-bundles></app-bundles></tab>
    <tab tabTitle="Team"><app-project></app-project></tab>
    <tab tabTitle="Submit"><app-project></app-project></tab>
  </tabs>
</div>
