<ng-container *ngIf="!project">
  Loading project ...
</ng-container>

<ng-container *ngIf="project">
  <div>
    <a class="vf-button vf-button--sm {{upload ? '' : 'vf-button--primary'}}" role="button"
       routerLink="/projects/{{project?.uuid?.uuid}}/{{selectedProjectTab}}">Edit Project</a>
    <button
      *ngIf="canSubmit(project)"
      type="button" class="vf-button vf-button--sm {{upload ? '' : 'vf-button--primary'}}"
      (click)="onSwitchUpload()">{{upload ? "Cancel" : "Submit to Project"}}</button>
    <button *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0" mat-icon-button (click)="onDeleteProject()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <br/>
  <app-project-view (tabChange)="projectTabChange($event)" [project]="project">
  </app-project-view>
  <br/>
  <app-upload *ngIf="upload" [projectUuid]="projectUuid"></app-upload>

  <div class="dashboard" *ngIf="!upload && submissionEnvelopes && submissionEnvelopes.length > 0">
    <table>
      <thead class="thead-light">
      <tr>
        <th>Created</th>
        <th>Submission UUID</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submissionEnvelope of submissionEnvelopes">
        <td>{{submissionEnvelope.submissionDate | date: "medium"}}</td>
        <td>
          <a [routerLink]="['/submissions/detail']"
             [queryParams]="{uuid:getSubmissionUuid(submissionEnvelope), project:project?.uuid?.uuid}"
             class="text-info">{{getSubmissionUuid(submissionEnvelope)}}</a>
        </td>
        <td>
          <app-metadata-state [state]="submissionEnvelope.submissionState"></app-metadata-state>
        </td>
        <td>
          <button *ngIf="submissionEnvelope.open" mat-icon-button (click)="onDeleteSubmission(submissionEnvelope)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="!submissionEnvelopes">
        <td>Loading your submissions...</td>
      </tr>
      <tr *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0">
        <td>You do not currently have any submissions</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
