<div *ngIf="project">
  <br/>
  <h2>Project</h2>

  <br/>
  <div class="card">
    <div class="card-body">
      <br/>
      <span><strong>Project Shortname</strong></span>
      <br/>
      <span><p>{{project?.content?.project_core?.project_short_name}}</p></span>
      <span><strong>Title</strong></span>
      <br/>
      <span><p>{{project?.content?.project_core?.project_title}}</p></span>
      <span><strong>Description</strong></span>
      <br/>
      <span><p class="text-justify">{{project?.content?.project_core?.project_description}}</p></span>
      <br/>
      <span><strong>Validation State</strong></span>
      <span><p>{{project?.validationState}}</p></span>
      <ng-container *ngFor="let error of project?.validationErrors">
        <span class="text-danger" title="{{error.userFriendlyMessage}}">* {{error.userFriendlyMessage}}</span><br>
      </ng-container>
      <br/>
      <span><strong>Ingest Link</strong></span>
      <span><p><a href="{{project?._links?.self?.href}}"><span class="oi oi-external-link"></span></a></p></span>
      <br/>
      <ng-container *ngIf="isLinkingDone">
        <button mat-raised-button color="basic" (click)="downloadFile()"><span>Download spreadsheet</span></button>
      </ng-container>
      <br/>
    </div>
  </div>
</div>

