<div class="container"  *ngIf="!projectId || (editMode && projectId)">
  <br/>
  <h2>Project</h2>
  <br/>
  <div class="card">
    <div class="card-body">
      <br/>
      <form [formGroup]="projectForm">
        <div class="form-group" >
          <label for="projectId">Project ID</label>
          <input class="form-control" id="projectId" formControlName="projectId" placeholder="{{placeholder['projectId']}}">
          <label for="title">Title</label>
          <textarea type="text" class="form-control" id="title" formControlName="name" rows="3" placeholder="{{placeholder['name']}}"></textarea>
          <label for="description">Description</label>
          <textarea type="text"
                    class="form-control"
                    id="description" rows="20"
                    formControlName="description"
                    placeholder="{{placeholder['description']}}">
          </textarea>
        </div>
        <button type="button" class="btn btn-success" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save(projectForm.value)">{{projectId ? 'Save project' : 'Create project'}}</button>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="!editMode && projectId">
  <app-overview [project]="project" [projectId]="projectId" >
    <button type="button" class="btn btn-success" (click)="setToEditMode()">Edit Project</button>
    <button type="button" class="btn btn-success" (click)="newSubmission()">Create project from spreadsheet</button>
  </app-overview>
</ng-container>
<br/><br/>
<h3>Submissions</h3>
<br/>
<div class="card">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Created</th>
      <th>Submission UUID</th>
      <th>Status</th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let submissionEnvelope of submissionEnvelopes">
      <td>{{submissionEnvelope.submissionDate | date: "medium"}}</td>
      <td>
        <a routerLink="/submissions/detail/{{getSubmissionId(submissionEnvelope)}}/overview" class="text-info">{{getSubmissionUuid(submissionEnvelope)}}</a>
      </td>
      <td>
        <div [ngSwitch]="submissionEnvelope.submissionState">
          <span *ngSwitchCase="'Pending'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Draft'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Validating'" class="badge-in-list badge badge-pill badge-info">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Valid'" class="badge-in-list badge badge-pill badge-success">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Invalid'" class="badge-in-list badge badge-pill badge-danger">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Submitted'" class="badge-in-list badge badge-pill badge-secondary">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Processing'"
                class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Cleanup'"
                class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
          <span *ngSwitchCase="'Complete'"
                class="badge-in-list badge badge-pill border border-success bg-light text-success">{{submissionEnvelope.submissionState}}</span>
        </div>
      </td>
    </tr>
    <tr *ngIf="!submissionEnvelopes">
      <td>Loading your submissions...</td>
    </tr>
    <tr *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0">
      <td>You do not currently have any submissions</td>
    </tr>
    </tbody>
  </table>
</div>
