<ng-container *ngIf="!project">
Loading project ...
</ng-container>

<ng-container *ngIf="project" >
  <app-overview [project]="project">
    <a *ngIf="!project?.hasOpenSubmission" class="btn btn-success" role="button" routerLink="/projects/detail/{{projectUuid}}/submissions/metadata" >Create submission</a>
    <button *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0" mat-icon-button (click)="onDeleteProject()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </app-overview>
  <br/><br/>
  <h3>Submissions</h3>
  <br/>
  <div class="card">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Created</th>
        <th>Submission UUID</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submissionEnvelope of submissionEnvelopes">
        <td>{{submissionEnvelope.submissionDate | date: "medium"}}</td>
        <td>
          <a [routerLink]="['/submissions/detail']" [queryParams]="{uuid:getSubmissionUuid(submissionEnvelope)}" class="text-info">{{getSubmissionUuid(submissionEnvelope)}}</a>
        </td>
        <td>
          <div [ngSwitch]="submissionEnvelope.submissionState">
            <span *ngSwitchCase="'Pending'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Draft'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Validating'" class="badge-in-list badge badge-pill badge-info">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Valid'" class="badge-in-list badge badge-pill badge-success">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Invalid'" class="badge-in-list badge badge-pill badge-danger">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Submitted'" class="badge-in-list badge badge-pill badge-secondary">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Processing'"
                  class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Archiving'"
                  class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Cleanup'"
                  class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Complete'"
                  class="badge-in-list badge badge-pill border border-success bg-light text-success">{{submissionEnvelope.submissionState}}</span>
          </div>
        </td>
        <td>
          <button *ngIf="submissionEnvelope.open" mat-icon-button (click)="onDeleteSubmission(submissionEnvelope)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="!submissionEnvelopes">
        <td>Loading your submissions...</td>
      </tr>
      <tr *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0">
        <td>You do not currently have any submissions</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
