<div class="vf-form__item">
  <app-vf-asterisk [isRequired]="metadata.isRequired"></app-vf-asterisk>
  <label *ngIf="label" class="vf-form__label">{{label}}</label>
  <textarea rows="{{rows}}" [attr.disabled]="disabled ? disabled : null" type="text" class="vf-form__input"
            placeholder="{{metadata.schema.example}}" (change)="change($event)" [(ngModel)]="value"></textarea>
  <p class="vf-form__helper vf-form__helper--error">{{error}}</p>
  <p *ngIf="helperText" class="vf-form__helper">{{helperText}} Enter each value on separate line. </p>
</div>
