<div>

  <p class="vf-text-body vf-text-body--3">
    Thanks for filling in this initial project information.
  </p>

  <p class="vf-text-body vf-text-body--3">
    Once you click Register, the HCA Data Wrangling team will review your project and will be in touch with instructions
    on next steps.
  </p>

  <div class="vf-form__item vf-form__item--checkbox">
    <input type="checkbox" class="vf-form__checkbox" id="notifyMe">
    <label for="notifyMe" class="vf-form__label"> Send a copy of this information to my email address </label>
  </div>

</div>
