<div class="card">
  <div class="card-header">
    Upload Area Location
  </div>
  <div class="card-body" *ngIf="submissionEnvelope['stagingDetails']">
    <pre class="pre-scrollable" ><code #uploadArea>{{submissionEnvelope['stagingDetails']?.stagingAreaLocation?.value}}</code></pre>
    <button [clipboard]="submissionEnvelope['stagingDetails']?.stagingAreaLocation?.value"
            (clipboardSuccess)="logSuccess( $event )"
            (clipboardError)="logError( $event )">
      Copy
    </button>
  </div>
</div>
