<h1> New Submission </h1>
<br>
<div class="jumbotron">
  <h3>Before you begin</h3>
  <p class="lead">The Human Cell Atlas (HCA) project contains only open-access, anonymised data from
    human research subjects. It is the your responsibility as a submitter to confirm that the
    proper consent has been obtained.</p>

  <a href="#" >Data consent requirements for Human Cell Atlas</a>

  <p>Does the data you’re submitting comply with the HCA consented data requirements?
  </p>
  <button type="button" (click)="cancel()" class="btn btn-info">Cancel</button>
  <button type="button" (click)="continue()" class="btn btn-info">Continue</button>
</div>
