<div class="container" *ngIf="submissionEnvelopeId">
  <br/>
  <h2>Upload Data Files</h2>
  <br/>
  <div class="card">
    <div class="card-header">
      Data Files
    </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-lg-12">
          <app-metadata-list *ngIf="files && files.length > 0"
                             [metadataList]="files"
                             [metadataType]="'Files'"
                             [config]="config">
          </app-metadata-list>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card">
    <div class="card-header">
      Upload Area Location
    </div>
    <div class="card-body" >
    <div class="row">
      <div class="col-lg-12">
        <app-upload-info [submissionEnvelope]="submissionEnvelope" *ngIf="submissionEnvelope && submissionEnvelope['stagingDetails']"></app-upload-info>
      </div>
    </div>
    </div>
  </div>
</div>
