<div class="card">
  <div class="card-header">
    Data Files
  </div>
  <!--<div class="card-body">-->
    <table class="table table-sm" *ngIf="files">
      <thead class="thead-light">
      <tr>
        <th>UUID</th>
        <th>File</th>
        <th>Status</th>
        <!--<th>Ingest API</th>-->
        <!--<th>CloudUrl</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of files">
        <td>{{file?.uuid?.uuid}}</td>
        <td>{{file?.content?.filename}}</td>
        <td>
          <div [ngSwitch]="file.validationState">
            <span *ngSwitchCase="'Draft'" class="badge badge-warning">{{file.validationState}}</span>
            <span *ngSwitchCase="'Validating'" class="badge badge-info">{{file.validationState}}</span>
            <span *ngSwitchCase="'Valid'" class="badge badge-success">{{file.validationState}}</span>
            <span *ngSwitchCase="'Invalid'" class="badge badge-error">{{file.validationState}}</span>
            <span *ngSwitchCase="'Processing'" class="badge border border-warning bg-light text-warning">{{file.validationState}}</span>
            <span *ngSwitchCase="'Complete'" class="badge badge-secondary">{{file.validationState}}</span>
          </div>
        </td>
        <!--<td class="text-right">-->
        <!--</td>-->

        <!--<td class="text-right">-->
          <!--<a title="Cloud Url" href="file?.cloudUrl" *ngIf="file.cloudUrl">-->
            <!--<span class="glyphicon glyphicon glyphicon glyphicon glyphicon-share" aria-hidden="true"></span>-->
          <!--</a>-->
        <!--</td>-->

      </tr>
      </tbody>
    </table>
  <!--</div>-->
  <div class="card-footer text-muted">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

