<div class="vf-form__item">
  <div class="vf-form__label">
    <label *ngIf="label" [innerHtml]="label"></label>
    <app-vf-asterisk [isRequired]="isRequired"></app-vf-asterisk>
  </div>
  <div></div>
  <div>
    <mat-form-field class="vf-form__input">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let selectedValue of selectedValues"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeValue(selectedValue)">
          {{ displayWith ? displayWith(selectedValue) : selectedValue}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          [id]="id"
          matInput
          *ngIf="!disabled"
          (keydown)="onInputKeyboardNavigation($event)"
          [matAutocompleteDisabled]="disabled"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-selection-list #selectionList (selectionChange)="onSelectionChange($event)"
                            (keydown)="onListKeyboardNavigation($event)">
          <mat-list-option [id]="'multi-select-mat-list-option-'+ id"
                           *ngFor="let option of options$ | async" [selected]="isSelected(option)" [value]="option">
            {{displayWith ? displayWith(option) : option}}
          </mat-list-option>
        </mat-selection-list>
        <mat-option [style.display]="'none'"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <p *ngIf="helperText" class="vf-form__helper" [innerHtml]="helperText"></p>
  </div>
</div>


