<app-form-item [data]="data">
  <div *ngIf="!disabled; else readOnlyView">
    <mat-form-field>
      <mat-chip-list #chipList>
        <div class="chip-list-input-box">
          <div class="chip-list">
            <mat-chip
              *ngFor="let selectedValue of selectedValues"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeValue(selectedValue)">
              {{ displayWith ? displayWith(selectedValue) : selectedValue}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </div>
          <div>
            <div class="search-box">
              <input
                type="search"
                #input
                [id]="id"
                class="vf-form__input search-input"
                [required]="(touched && error) || (selectedValues.length === 0 && touched && isRequired)? true: null"
                (focusout)="onFocusOut(searchControl.value)"
                *ngIf="!disabled"
                (keydown)="onInputKeyboardNavigation($event)"
                [matAutocompleteDisabled]="disabled"
                [formControl]="searchControl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur">

              <a mat-icon-button class="search-button" matSuffix mat-icon-button matTooltip="Clear"
                 (click)="resetSearch()">
                <mat-icon>close</mat-icon>
              </a>
            </div>
          </div>
          <p class="vf-form__helper vf-form__helper--error">{{error}}</p>
        </div>
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-selection-list #selectionList (selectionChange)="onSelectionChange($event)"
                            (keydown)="onListKeyboardNavigation($event)">
          <mat-list-option *ngFor="let option of options$ | async"
                           [id]="'multi-select-mat-list-option-'+ id"
                           [selected]="isSelected(option)"
                           [value]="option">
            {{displayWith ? displayWith(option) : option}}
          </mat-list-option>
          <mat-list-option *ngIf="(options$ | async)?.length === 0" [disabled]="true">
            No result found
          </mat-list-option>
        </mat-selection-list>
        <mat-option [style.display]="'none'"></mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>
  <ng-template #readOnlyView>
    <ng-container *ngIf="selectedValues; else notSpecified">
      <div class="content">
        <mat-chip-list>
          <mat-chip *ngFor="let value of selectedValues">{{ displayWith ? displayWith(value) : value}}</mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
    <ng-template #notSpecified>
      <span class="content read-only">(not specified)</span>
    </ng-template>
  </ng-template>
</app-form-item>


