<form *ngIf="done" class="vf-form" [formGroup]="metadataForm.formGroup" (submit)="onSubmit($event)">
  <mat-tab-group>
    <mat-tab label="Project">
      <div class="vf-u-margin__top--xxl">

        <ng-container *ngFor="let child of metadataForm.metadataRegistry['project.project_core'].children">
          <ng-container appMetadataField [metadata]="metadataForm.metadataRegistry[child]"
                        [control]="metadataForm.formGroup['controls']['project_core']['controls'][metadataForm.metadataRegistry[child].key]">
          </ng-container>
        </ng-container>


        <ng-container *ngFor="let child of metadataForm.metadataRegistry['project'].children">
          <ng-container appMetadataField [metadata]="metadataForm.metadataRegistry[child]"
                        [control]="metadataForm.formGroup['controls'][metadataForm.metadataRegistry[child].key]">
          </ng-container>
        </ng-container>

      </div>
    </mat-tab>

    <mat-tab label="Contributors">
      <div class="vf-u-margin__top--xxl">

        <ng-container
          *ngFor="let control of metadataForm.formGroup['controls']['contributors']['controls'] ; let i = index">
          <ng-container *ngFor="let child of metadataForm.metadataRegistry['project.contributors'].children">
            <ng-container appMetadataField [metadata]="metadataForm.metadataRegistry[child]"
                          [control]="control['controls'][metadataForm.metadataRegistry[child].key]">
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!config.viewMode">
            <a color="warn" mat-icon-button
               (click)="removeFormControl(metadataForm.formGroup['controls']['contributors'], i)">
              <mat-icon>remove_circle_outline</mat-icon>
              Remove
            </a>
          </ng-container>

          <hr class="vf-divider">

        </ng-container>

        <ng-container *ngIf="!config.viewMode">
          <a mat-icon-button
             (click)="addFormControl(metadataForm.metadataRegistry['project.contributors'], metadataForm.formGroup['controls']['contributors'])">
            <mat-icon>add_circle_outline</mat-icon>
            Add
          </a>
        </ng-container>


      </div>
    </mat-tab>

    <mat-tab label="Publications">
      <div class="vf-u-margin__top--xxl">

        <ng-container
          *ngFor="let control of metadataForm.formGroup['controls']['publications']['controls'] ; let i = index">
          <ng-container *ngFor="let child of metadataForm.metadataRegistry['project.publications'].children">
            <ng-container appMetadataField [metadata]="metadataForm.metadataRegistry[child]"
                          [control]="control['controls'][metadataForm.metadataRegistry[child].key]">
            </ng-container>
          </ng-container>


          <ng-container *ngIf="!config.viewMode">
            <a color="warn" mat-icon-button
               (click)="removeFormControl(metadataForm.formGroup['controls']['publications'], i)">
              <mat-icon>remove_circle_outline</mat-icon>
              Remove
            </a>
          </ng-container>
          <hr class="vf-divider">

        </ng-container>

        <ng-container *ngIf="!config.viewMode">
          <a mat-icon-button
             (click)="addFormControl(metadataForm.metadataRegistry['project.publications'], metadataForm.formGroup['controls']['publications'])">
            <mat-icon>add_circle_outline</mat-icon>
            Add
          </a>
        </ng-container>

      </div>
    </mat-tab>

    <mat-tab label="Funders">
      <div class="vf-u-margin__top--xxl">

        <ng-container
          *ngFor="let control of metadataForm.formGroup['controls']['funders']['controls'] ; let i = index">
          <ng-container *ngFor="let child of metadataForm.metadataRegistry['project.funders'].children">
            <ng-container appMetadataField [metadata]="metadataForm.metadataRegistry[child]"
                          [control]="control['controls'][metadataForm.metadataRegistry[child].key]">
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!config.viewMode">
            <a color="warn" mat-icon-button
               (click)="removeFormControl(metadataForm.formGroup['controls']['funders'], i)">
              <mat-icon>remove_circle_outline</mat-icon>
              Remove
            </a>
          </ng-container>
          <hr class="vf-divider">

        </ng-container>


        <ng-container *ngIf="!config.viewMode">
          <a mat-icon-button
             (click)="addFormControl(metadataForm.metadataRegistry['project.funders'], metadataForm.formGroup['controls']['funders'])">
            <mat-icon>add_circle_outline</mat-icon>
            Add
          </a>
        </ng-container>

      </div>
    </mat-tab>


  </mat-tab-group>

  <ng-container *ngIf="!config.viewMode">
    <a (click)="confirmCancel($event)" class="vf-button vf-button--tertiary vf-button--sm">Cancel</a>
    <button class="vf-button vf-button--primary vf-button--sm">Save and Continue</button>
  </ng-container>
</form>
