<app-global-header
  [isLoggedIn$]="userProfile$"
  [userProfile$]="userProfile$"
  [userAccount$]="userAccount$"
  (logout)="onLogout($event)"
></app-global-header>

<div class="vf-body">
  <div *ngIf="showLoader">
    <p class="loading-message vf-text-heading vf-text-heading--5 vf-u-text-color--grey--darkest">
      {{loaderMessage}}
    </p>
  </div>
  <div></div>
  <div class="vf-component__container">
    <app-global-navigation *ngIf="userAccount$ | async" [userAccount$]="userAccount$"></app-global-navigation>
    <main>
      <br/>
      <app-alert></app-alert>

      <router-outlet>
      </router-outlet>
      <div *ngIf="showLoader" class="loading">
        <!-- Using a different animation if browser is safari because mat spinner is not steady and it looks weird-->
        <app-ellipsis *ngIf="isSafari"></app-ellipsis>
        <mat-spinner
          *ngIf="!isSafari"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50">
        </mat-spinner>
      </div>

    </main>
  </div>
  <div></div>
</div>
<app-global-footer
  [isLoggedIn$]="userProfile$"
  (logout)="onLogout($event)"
></app-global-footer>
