<header class="vf-global-header" *ngIf="isLoggedIn">
  <div class="vf-global-header__inner">
    <img class="vf-logo__image" src="assets/HCA_logo_full_transparent.png" alt="Human Cell Atlas"
         style="width:10%;height: 10%">
        <p class="vf-logo__text"> Data Contribution Service </p>
  </div>
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">

      <li class="vf-navigation__item">
        <a *ngIf="isLoggedIn" class="vf-navigation__link">
          <img *ngIf="userInfo && userInfo.picture" src="{{ userInfo?.picture}}"
               class="rounded-circle profile-image"> {{ userInfo?.name }}
        </a>
      </li>
      <li class="vf-navigation__item">
        <a type="submit"
           class="vf-navigation__link"
           *ngIf="isLoggedIn"
           (click)="logout()">Sign out
        </a>
      </li>
    </ul>
  </nav>

</header>

<div class="vf-component__container">
  <app-navigation></app-navigation>

  <main>
    <br/>
    <alert></alert>
    <router-outlet>
      <div *ngIf="showLoader" class="loading">
        <mat-spinner
          class="example-margin"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50">
        </mat-spinner>
      </div>
    </router-outlet>
  </main>
</div>
