

<span *ngIf="columnName==='_validationState'" >
    <ng-container [ngSwitch]="value">
      <span *ngSwitchCase="'Draft'" class="badge-in-list badge badge-pill badge-warning">{{value}}</span>
      <span *ngSwitchCase="'Validating'" class="badge-in-list badge badge-pill badge-info">{{value}}</span>
      <span *ngSwitchCase="'Valid'" class="badge-in-list badge badge-pill badge-success">{{value}}</span>
      <button (click)="revalidate(rowIndex)" title="Click to revalidate." *ngSwitchCase="'Invalid'" class="badge-in-list badge badge-pill badge-danger">{{value}}</button>
      <span *ngSwitchCase="'Processing'" class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{value}}</span>
      <span *ngSwitchCase="'Complete'" class="badge-in-list badge badge-pill badge-secondary">{{value}}</span>
    </ng-container>
  </span>

<div
  title="{{value}}"
  (dblclick)="editMode = true"
  *ngIf="!editMode">

  <span *ngIf="value || value !== ''">{{stringify(value)}}</span>
  <span style="visibility: hidden" *ngIf="value==='' && !columnDefinition['isRequired']">invisible</span>
  <span class="missing-field" *ngIf="value==='' && columnDefinition['isRequired']">ERROR</span>
</div>

<ng-container *ngIf="editMode" [ngSwitch]="columnDefinition['type'] ">
  <input
      *ngSwitchCase="'string'"
      autofocus
      type="text"
      (blur)="updateValue($event)"
      [(ngModel)]="value"
  />
  <input
    *ngSwitchCase="'boolean'"
    autofocus
    (blur)="updateValue($event)"
    type="checkbox"
    [checked]="value"
  />
  <input
    *ngSwitchCase="'number'"
    autofocus
    (blur)="updateValue($event)"
    type="text"
    [value]="value"
  />
  <input
    *ngSwitchCase="'integer'"
    autofocus
    (blur)="updateValue($event)"
    type="text"
    [value]="value"
  />
  <input
    *ngSwitchCase="'null'"
    autofocus
    (blur)="updateValue($event)"
    type="text"
    [value]="value"
  />
  <span *ngSwitchDefault (dblclick)="editMode = false" > NOT EDITABLE </span>
</ng-container>
