<div id="registration-content">
  <h1>Welcome to the Human Cell Atlas</h1>

  <p>&nbsp;</p>
  <span id="registration-terms">
    <input type="checkbox" name="termsAccepted" [(ngModel)]="termsAccepted"/>
    &nbsp; By ticking this box, you agree to the <a
    href="https://www.ebi.ac.uk/about/terms-of-use">Terms and Conditions</a>.
    <br/>
    <br/>
    Please see our <a href="https://www.ebi.ac.uk/data-protection/privacy-notice/human-cell-atlas-ingest-submission">
    Privacy Policy</a> to learn more about how we use your personal data.
  </span>

  <p>&nbsp;</p>
  <button [attr.disabled]="!termsAccepted ? true: null"
          (click)="proceed()">Register
  </button>

<!--  TODO Ask VF team how to disable button -->
<!--  <button class="vf-button vf-button&#45;&#45;primary vf-button&#45;&#45;sm" [attr.disabled]="!termsAccepted ? true: null"-->
<!--          (click)="proceed()">Register-->
<!--  </button>-->

  <div *ngIf="status && status.message" id="registration-message">
    <p>&nbsp;</p>
    <div class="message-box">
      <span class="registration-message">{{status.message}}</span><br/>
      <div *ngIf="status.success">
        <span>&nbsp;</span><br/>
        <input type="button" name="ok" value="OK" routerLink="/home"/>
      </div>
    </div>
  </div>
</div>
