<div id="registration-content">
  <h1>Welcome to the Human Cell Atlas</h1>

  <span id="registration-terms">
    <input type="checkbox" name="termsAccepted" [(ngModel)]="termsAccepted" />
    &nbsp; By ticking this box, you agree to the terms and condition.
  </span>

  <input type="button" name="register" value="Register" [disabled]="!termsAccepted" (click)="proceed()">

  <div *ngIf="status" id="registration-message">
    <p>{{status.message}}</p>
    <input *ngIf="status.success" type="button" name="ok" value="OK" (click)="router.navigate(['/home'])"/>
  </div>
</div>
