
<div class="card" *ngIf="projects || {}">
  <div>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Created</th>
        <th>ID</th>
        <th>Project Name</th>
        <th>Project ID</th>
        <th>Validation State</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td>{{project.submissionDate | date: "medium"}}</td>
        <td>
          <a routerLink="/projects/detail/{{getProjectId(project)}}" class="text-info" >{{getProjectId(project)}}</a>
        </td>
        <td><span title="{{project?.content?.project_core?.project_title}}"> {{ project?.content?.project_core?.project_title }}</span></td>
        <td><span title="{{project?.content?.project_core?.project_short_name}}">{{ project?.content?.project_core?.project_short_name }}</span></td>
        <td>
          <div [ngSwitch]="project?.validationState">
            <span *ngSwitchCase="'Pending'" class="badge-in-list badge badge-pill badge-warning">{{project?.validationState}}</span>
            <span *ngSwitchCase="'Draft'" class="badge-in-list badge badge-pill badge-warning">{{project?.validationState}}</span>
            <span *ngSwitchCase="'Validating'" class="badge-in-list badge badge-pill badge-info">{{project?.validationState}}</span>
            <span *ngSwitchCase="'Valid'" class="badge-in-list badge badge-pill badge-success">{{project?.validationState}}</span>
            <span *ngSwitchCase="'Invalid'" class="badge-in-list badge badge-pill badge-danger">{{project?.validationState}}</span>
          </div>
        </td>
        <td>
          <a class="btn btn-success" role="button" routerLink="/projects/detail/{{getProjectId(project)}}/submissions/metadata" >Create submission</a>
        </td>
      </tr>
      <tr *ngIf="!projects">
        <td>Loading your projects...</td>
      </tr>
      <tr *ngIf="projects && projects.length === 0">
        <td>You do not currently have any projects</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<mat-paginator [length]="currentPageInfo['totalElements']"
               [pageSize]="currentPageInfo['size']"
               [pageIndex]="currentPageInfo['number']"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>
