<ng-template #noData>No Data Available</ng-template>
<div class="card">
  <div class="card-header">Dashboard</div>
  <div>
    <table id="submissions" class="table table-striped" *ngIf="submissionEnvelopes;else noData">
      <thead class="thead-light">
      <tr>
        <th>Updated</th>
        <th>Submission ID</th>
        <th>Project</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submissionEnvelope of submissionEnvelopes">
        <td>{{submissionEnvelope.updateDate | date: "medium"}}</td>
        <td>
          <a routerLink="/submissions/{{getSubmissionId(submissionEnvelope)}}" class="text-info" >{{getSubmissionId(submissionEnvelope)}}</a>
        </td>
        <td>Tissue Stability</td>
        <td>
          <div [ngSwitch]="submissionEnvelope.submissionState">
            <span *ngSwitchCase="'Pending'" class="badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Draft'" class="badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Validating'" class="badge badge-pill badge-info">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Valid'" class="badge badge-pill badge-success">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Invalid'" class="badge badge-pill badge-danger">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Submitted'" class="badge badge-pill badge-secondary">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Processing'" class="badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Cleanup'" class="badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Complete'" class="badge badge-pill border border-success bg-light text-success">{{submissionEnvelope.submissionState}}</span>
          </div>
        </td>
        <td>
          <form class="submission-form complete-form" action="submit" method="POST">
              <button *ngIf="getSubmitLink(submissionEnvelope)" class="btn btn-success btn-sm" (click)="completeSubmission(submissionEnvelope)">
                Submit
              </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" >
        <li class="page-item" [class.disabled]="currentPageInfo['number'] == 0">
          <a class="page-link" href="#" tabindex="-1" (click)="goToPage(currentPageInfo['number']-1)">Previous</a>
        </li>
        <li  *ngFor="let pageItem of createRange(currentPageInfo['totalPages'])" class="page-item"><a (click)="goToPage(pageItem)" class="page-link" href="#">{{pageItem + 1}}</a></li>
        <li class="page-item" [class.disabled]="currentPageInfo['number'] == (currentPageInfo['totalPages'] - 1)">
          <a (click)="goToPage(currentPageInfo['number']+1)" class="page-link" href="#" >Next</a>
        </li>

      </ul>
    </nav>
    <p>
      Showing {{currentPageInfo['start']}} - {{currentPageInfo['end']}} of {{currentPageInfo['totalElements']}} total records
    </p>
  </div>
</div>

