<div class="card" *ngIf="submissionEnvelopes || {}">
  <div>
    <table id="submissions" class="table">
      <thead class="thead-light">
      <tr>
        <th></th>
        <th>Created</th>
        <th>Submission UUID</th>
        <th>Project Name</th>
        <th>Project ID</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let submissionEnvelope of submissionEnvelopes">
        <td>
          <mat-icon [ngStyle]="{'color': 'lightgrey'}" *ngIf="submissionEnvelope['isUpdate']" matTooltip="This is an update submission.">info</mat-icon>
        </td>
        <td> <a href="{{submissionEnvelope['_links']['self']['href']}}" target="_blank">{{submissionEnvelope.submissionDate | date: "medium"}}</a></td>
        <td>
          <a routerLink="/submissions/detail/{{getSubmissionId(submissionEnvelope)}}/overview" class="text-info">{{submissionEnvelope?.uuid?.uuid}}</a>
        </td>
        <td>{{getProjectName(submissionEnvelope)}}</td>
        <td>{{getProjectId(submissionEnvelope)}}</td>
        <td>
          <div [ngSwitch]="submissionEnvelope.submissionState">
            <span *ngSwitchCase="'Pending'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Draft'" class="badge-in-list badge badge-pill badge-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Validating'" class="badge-in-list badge badge-pill badge-info">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Valid'" class="badge-in-list badge badge-pill badge-success">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Invalid'" class="badge-in-list badge badge-pill badge-danger">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Submitted'" class="badge-in-list badge badge-pill badge-secondary">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Processing'"
                  class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Cleanup'"
                  class="badge-in-list badge badge-pill border border-warning bg-light text-warning">{{submissionEnvelope.submissionState}}</span>
            <span *ngSwitchCase="'Complete'"
                  class="badge-in-list badge badge-pill border border-success bg-light text-success">{{submissionEnvelope.submissionState}}</span>
          </div>
        </td>
        <!--<td>-->
          <!--<form class="submission-form complete-form" action="submit" method="POST">-->
            <!--<button *ngIf="getSubmitLink(submissionEnvelope)" class="btn btn-success btn-sm"-->
                    <!--(click)="completeSubmission(submissionEnvelope)">-->
              <!--Submit-->
            <!--</button>-->
          <!--</form>-->
        <!--</td>-->
      </tr>
      <tr *ngIf="!submissionEnvelopes">
        <td>Loading your submissions...</td>
      </tr>
      <tr *ngIf="submissionEnvelopes && submissionEnvelopes.length === 0">
        <td>You do not currently have any submissions</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<mat-paginator [length]="currentPageInfo['totalElements']"
               [pageSize]="currentPageInfo['size']"
               [pageIndex]="currentPageInfo['number']"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>
