<div class="vf-form__item">
  <div>
    <label *ngIf="label" class="vf-form__label">{{label}}</label>
    <app-vf-asterisk [isRequired]="metadata.isRequired"></app-vf-asterisk>
  </div>
  <div></div>
  <div>
    <textarea [id]="id" rows="{{rows}}" class="vf-form__textarea"
              [attr.disabled]="disabled ? disabled : null" type="text"
              [required]="control.touched && isRequired? isRequired : null"
              (blur)="onBlur()"
              placeholder="{{metadata.schema.example}}" (change)="change($event)" [(ngModel)]="value"></textarea>
    <p class="vf-form__helper vf-form__helper--error">{{checkForErrors(control)}}</p>
  </div>
  <div>
    <p *ngIf="helperText" class="vf-form__helper">{{helperText}} Enter each value on separate line. </p>

  </div>
</div>
