<app-form-item [data]="data">
  <div *ngIf="!disabled; else readOnlyView">
    <textarea [id]="id" rows="{{rows}}" class="vf-form__textarea"
              [attr.disabled]="disabled ? disabled : null" type="text"
              [required]="shouldSetRequiredAttr()"
              (blur)="onBlur()"
              placeholder="{{metadata.schema.example}}" (change)="change($event)" [(ngModel)]="value"></textarea>
    <p class="vf-form__helper vf-form__helper--error">{{checkForErrors(control)}}</p>
  </div>

  <ng-template #readOnlyView>
    <div class="content read-only">
      <ng-container *ngIf="!value">(not specified)</ng-container>
      <span *ngFor="let item of control.value; last as last">{{item}} <br *ngIf="!last"></span>
    </div>
  </ng-template>
</app-form-item>
