.process-details {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto auto;
  align-items: start;
  column-gap: 1em;
  margin: 1em;
}

.wrap-text {
  white-space: pre-wrap;
}

