<div class="vf-intro">
    <h1 class="vf-intro__heading vf-intro__heading--has-tag">{{ errorMsg }}<a class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
    <p class="vf-lede">There is a problem with our service at the moment.
        <br/>
        Try to <a href="{{ reload }}">reload</a> the page, otherwise please come back later.</p>


    <p class="vf-text-body vf-text-body--5">If this is a continuing problem, send an email to <a href="mailto:hca-help@ebi.ac.uk">hca-help@ebi.ac.uk</a>.
    </p>
  </div>
