<div class="vf-form__item">
  <div>
    <label class="vf-form__label">{{label}}</label>
    <app-vf-asterisk [isRequired]="isRequired"></app-vf-asterisk>
  </div>
  <div></div>

  <div>
    <div style="display: flex; align-items: center">
      <mat-form-field>
        <input matInput class="vf-form__input" [disabled]="disabled" [matDatepicker]="picker"
               [attr.required]="control.touched && isRequired? isRequired : null"
               (blur)="onBlur()"
               (dateChange)="onDateChanged($event)"
               [(ngModel)]="value">
        <mat-datepicker (closed)="onDatePickerClosed()" #picker></mat-datepicker>
        <p class="vf-form__helper vf-form__helper--error">{{checkForErrors(this.control)}}</p>
      </mat-form-field>

      <mat-datepicker-toggle matSuffix [for]="picker" (blur)="onBlur()" ></mat-datepicker-toggle>

    </div>
  </div>

  <div>
    <p *ngIf="helperText" class="vf-form__helper">{{helperText}} </p>
  </div>
</div>
