<div class="vf-form__item">
  <div class="vf-form__label">
    <label *ngIf="label">{{label}}</label>
    <app-vf-asterisk [isRequired]="isRequired"></app-vf-asterisk>
  </div>
  <div></div>
  <div>
    <textarea class="vf-form__textarea" rows="{{rows}}" [formControl]="control" placeholder="{{placeholder}}"
              [required]="control.touched && isRequired? isRequired : null"
              [attr.disabled]="disabled ? disabled : null"></textarea>
    <br/>
    <p class="vf-form__helper vf-form__helper--error">{{checkForErrors(control)}}</p>

  </div>
  <div>
    <p *ngIf="helperText" class="vf-form__helper" [innerHtml]="helperText"></p>

  </div>
</div>
