<header class="vf-global-header">
  <a [routerLink]="['/home']" class="vf-logo | vf-logo--has-text">
    <img class="vf-logo__image" src="/assets/HCA_data-portal_logo.png" alt="Human Cell Atlas">
    <span class="vf-logo__text">Contribution Service</span>
  </a>
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">
      <li class="vf-navigation__item">
        <a *ngIf="account$ | async" class="vf-navigation__link">
          <img *ngIf="userInfo && userInfo.picture" src="{{ userInfo?.picture}}"
               class="rounded-circle profile-image"> {{ userInfo?.given_name }} {{userInfo.family_name}}
        </a>
        <a *ngIf="!isLoggedIn" class="vf-navigation__link" [routerLink]="'/login'">Register</a>
      </li>
      <li class="vf-navigation__item">
        <a *ngIf="isLoggedIn" class="vf-navigation__link" (click)="logout($event)">Log out</a>
        <a *ngIf="!isLoggedIn" class="vf-navigation__link" [routerLink]="'/login'">Log in</a>
      </li>
    </ul>
  </nav>
</header>
<hr class="vf-divider">
