<header class="vf-global-header" >
  <div class="vf-global-header__inner">
    <img class="vf-logo__image" src="assets/HCA_logo_full_transparent.png" alt="Human Cell Atlas"
         style="width:100px;height:50px;">
    <p class="vf-logo__text vf-u-padding__left--xxl vf-u-padding__top--sm"> Data Contribution Service </p>
    <nav class="vf-navigation vf-navigation--global">
      <ul class="vf-navigation__list | vf-list--inline">
        <li class="vf-navigation__item">
          <a *ngIf="isLoggedIn" class="vf-navigation__link">
            <img *ngIf="userInfo && userInfo.picture" src="{{ userInfo?.picture}}"
                 class="rounded-circle profile-image"> {{ userInfo?.name }}
          </a>
        </li>
        <li class="vf-navigation__item">
          <a type="submit"
             class="vf-navigation__link"
             *ngIf="isLoggedIn"
             (click)="logout()">Sign out
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<hr class="vf-divider">
