<header class="vf-global-header width-override">
  <a [routerLink]="['/home']" class="vf-logo | vf-logo--has-text">
    <img class="vf-logo__image" src="/assets/HCA_logo_full_transparent.png" alt="Human Cell Atlas">
    <span class="vf-logo__text">Data Contribution Service</span>
  </a>
  <nav class="vf-navigation vf-navigation--global">
    <ul class="vf-navigation__list | vf-list--inline">
      <li class="vf-navigation__item">
        <a *ngIf="userAccount$ | async" class="vf-navigation__link">
          <img *ngIf="(userProfile$ | async)?.picture" class="rounded-circle profile-image"
               src="{{(userProfile$ | async)?.picture}}" alt="User Profile Image" />
          {{(userProfile$ | async)?.given_name}} {{(userProfile$ | async)?.family_name}}
        </a>
      </li>
      <li class="vf-navigation__item">
        <a *ngIf="isLoggedIn$ | async" class="vf-navigation__link" (click)="onLogout($event)">Log out</a>
        <a *ngIf="!(isLoggedIn$ | async)" class="vf-navigation__link" routerLink="/login">Log in</a>
      </li>
    </ul>
  </nav>
</header>
<hr class="vf-divider">
