<h1 class="vf-text vf-text-heading--2">{{this.templateQuestionnaireSchema.title}}</h1>
<br/>
<br/>

<p class="vf-intro__text">
  Complete this questionnaire about your experiment to generate a metadata template (.xlsx).<br/>
  Currently, the templates support metadata fields for sequencing and imaging cellular resolution experiments. <br/>
  Once filled out, please send to
  <a href="mailto:wrangler-team@data.humancellatlas.org"><span class="nobr">wrangler-team@data.humancellatlas.org</span></a> to
  continue the submission process.
</p>
<app-metadata-form name="spreadsheet-template-questionnaire"
                   [schema]="templateQuestionnaireSchema"
                   [data]="questionnaireData"
                   [config]="config"
                   (cancel)="onCancel($event)"
                   (reset)="onReset($event)"
                   (save)="onSave($event)">
</app-metadata-form>
