<h1 class="vf-text vf-text-heading--2">{{this.templateQuestionnaireSchema.title}}</h1>
<br/>
<br/>

<p class="vf-intro__text">
  In order for us to support you to submit your experimental metadata, please complete this questionnaire.<br/>
  We can then create a bespoke metadata spreadsheet for you, which you can download and edit with additional information about your sample(s) and experimental design.
</p>
<app-metadata-form name="spreadsheet-template-questionnaire"
                   [schema]="templateQuestionnaireSchema"
                   [data]="questionnaireData"
                   [config]="config"
                   (cancel)="onCancel($event)"
                   (reset)="onReset($event)"
                   (save)="onSave($event)">
</app-metadata-form>
