<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Hi, Alex</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>This is your dashboard, You currently have 3 active draft submissions, using 420 GB of space on our storage
        cloud. You have successfully completed 5 submissions to the Human Cell Atlas. Thanks for contributing to the
        future of science.</p>
    </div>
    <div class="col-4">
      <app-new-submission></app-new-submission>
    </div>
  </div>
</div>

