<div class="vf-grid vf-u-padding__top--sm vf-u-padding__bottom--xxl">
  <div class="vf-component__container">
    <div class="vf-navigation vf-navigation--global">
      <nav class="vf-navigation  vf-navigation--main">
        <ul class="vf-navigation__list | vf-list--inline nav_padding">
          <li class="vf-navigation__item">
            <a class="vf-navigation__link" routerLink="/home">Home</a>
          </li>
          <li class="vf-navigation__item">
            <a class="vf-navigation__link" routerLink="/projects">My Projects</a>
          </li>
          <li class="vf-navigation__item" *ngIf="(userAccount$ | async)?.isWrangler()">
            <a class="vf-navigation__link" routerLink="/projects/all">All Projects</a>
          </li>
          <li class="vf-navigation__item" *ngIf="(userAccount$ | async)?.isWrangler()">
            <a class="vf-navigation__link" title="View all submissions"
               [routerLink]="['/submissions/list', {all: 1}]">All Submissions</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
