<app-form-item [data]="data">
  <div *ngIf="!disabled; else readOnlyView">
    <input type="text"
           placeholder="{{placeholder}}"
           matInput
           [attr.required]="touched && isRequired? isRequired: null"
           [matAutocompleteDisabled]="disabled"
           [formControl]="searchControl"
           (focusout)="onFocusOut(searchControl.value)"
           [matAutocomplete]="auto" class="vf-form__input">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith ? displayWith : null"
                      (optionSelected)="onSelectedValueChange($event)">
      <mat-option *ngFor="let option of options$ | async" [value]="option">
        {{displayWith ? displayWith(option) : option}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <ng-template #readOnlyView>
    <span class="content read-only">{{ value ? displayWith(value) : '(not specified)'}}</span>
  </ng-template>
</app-form-item>
