.mat-card {
  max-width: 570px;
  margin: 2em auto;
  text-align: center;

  .mat-card-content {
    padding: 5px;
  }

  :first-child {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
