<div>
  <div align="center">
    <img class="vf-logo__image" src="assets/HCA_logo_full_transparent.png" style="width:50%;height: 50%"
         alt="Human Cell Atlas">

  </div>
  <div>
    <section class="vf-intro | embl-grid embl-grid--has-centered-content">
      <br/>
<!--      <h1 class="vf-intro__heading">-->
<!--        Contribute to the Human Cell Atlas-->
<!--      </h1>-->

      <p class="vf-lede">

        We're building a Human Cell Atlas reference map!
      </p>
      <p class="vf-intro__text"> Sign in below in order to submit your single-cell sequencing data
        to the Human Cell Atlas.
      </p>
      <p class="vf-intro__text"> This website requires cookies, and the limited processing of your personal data in
        order
        to
        function. By using the site you are agreeing to this as outlined in our <a class="vf-link"
                                                                                   href="http://www.ebi.ac.uk/data-protection/privacy-notice/human-cell-atlas-ingest-submission"
                                                                                   target="_blank">Privacy
          Notice</a>.
      </p>
      <p class="center">
        <a (click)="login()" href="javascript:void(0)" class="vf-link">
          <img src="assets/login-button-blue-small.png" alt="[ELIXIR Login]">
        </a>
      </p>
    </section>
  </div>
</div>
