<app-select-radio
  [id]="'is-accessioned'"
  [label]="'Is there an existing accession ID for the project?'"
  [helperText]="'An accession is usually an identifier you receive for your project if you have submitted it to a repository such as GEO, Arrayexpress, ENA, SRA'"
  [options]="['Yes', 'No']"
  (valueChanged)="onIsAccessionedChange($event)"
></app-select-radio>
<app-vf-input
  *ngIf="isAccessioned"
  [(ngModel)]="accessionId"
  [label]="'Existing project accession ID'"
  [dataType]="'string'"
  [helperText]="'Enter a project accession ID from a data repository e.g. Geo or Arrayexpress'"
  (change)="onProjectAccessionIdChange(accessionId)">
</app-vf-input>

<app-metadata-field
  *ngIf="isAccessioned!== undefined && !isAccessioned"
  [metadata]="metadataForm.get('project.accessionDate')"
  [control]="metadataForm.getControl('project.accessionDate')"
  [id]="'project.accessionDate'">
</app-metadata-field>

<app-metadata-field [metadata]="metadataForm.get('project.releaseDate')"
                    [control]="metadataForm.getControl('project.releaseDate')"
                    [id]="'project.releaseDate'">
</app-metadata-field>


