<div class="container-fluid">
<br/>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Project Overview
    <span text-success class="oi oi-check text-success" aria-hidden="true"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Metadata
    <span text-success class="oi oi-check text-success" aria-hidden="true"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Data Files
    <span text-success class="oi oi-check text-success" aria-hidden="true"></span>
  </li>
</ul>
<br/>

<form action="submit" method="POST" *ngIf="submitLink">
  <br/>
  <h3>What's next?</h3>
  <p>You have entered all necessary information per Human Cell Atlas standards.
    That’s awesome!</p>
  <br/>
  <p>If everything looks correct, feel free to Submit your project data. Once you hit “Submit”,
    your data is going to make its way to the Human Cell Atlas pipelines for immediate analysis and release.</p>
  <br/><br/>
  <button class="btn btn-success btn-lg" (click)="completeSubmission()">
    Submit
  </button>
</form>

<br/>
<div class="card" *ngIf="isSubmitted">
  <div class="card-body" >
    <tabs [navClass]="'nav-tabs'">
      <tab tabTitle="Bundles">
        <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'bundleManifests'" [config]="{displayAll: true, hideWhenEmptyRows: true}" > </app-metadata-list>
      </tab>
    </tabs>
  </div>
</div>


</div>
