<div class="container-fluid">
  <br/>
  <h1>Submission</h1>
  <tabs>
    <tab tabTitle="Overview"><app-project></app-project></tab>
    <tab tabTitle="Metadata">
      <app-metadata [submissionEnvelopeId]="submissionEnvelopeId"></app-metadata>
    </tab>
    <tab tabTitle="Data">
      <app-files
        [submissionEnvelopeId]="submissionEnvelopeId"
        [submissionEnvelope]="submissionEnvelope" >
      </app-files>
    </tab>
    <tab tabTitle="Team" [disabled]="true"><app-team></app-team></tab>
    <tab tabTitle="Submit" [disabled]="true"><app-submit></app-submit></tab>
  </tabs>
</div>

