/**
 * Human Cell Atlas - Ingest UI
 * http://ui.ingest.dev.data.humancellatlas.org
 *
 * Styles specific to submission component.
 */

/* 
 * Mimic standard (non-basic) MD chip styles as a base for chips. Add additional classes to chips for styling of chips 
 * in different states.
 */
.mat-basic-chip {
  align-items: center;
  border-radius: 24px;
  color: #ffffff;
  cursor: default;
  display: inline-flex;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  padding: 7px 12px;
  /* TODO applying BS naming convention for coloring chips, revisit once ingest-UI UI design is complete. Also revisit use of CSS variables. */
  &.danger {
    background-color: var(--danger);
  }
  &.info {
    background-color: var(--info);
  }
  &.secondary {
    background-color: var(--secondary);
  }
  &.success {
    background-color: var(--success);
  }
  &.success-invert {
    border: 1px solid var(--success);
    color: var(--success);
  }
  &.warning {
    background-color: var(--warning);
  }
  &.warning-invert {
    border: 1px solid var(--warning);
    color: var(--warning);
  }
}
