<div class="vf-form__item">
  <app-vf-asterisk [isRequired]="isRequired"></app-vf-asterisk>
  <label *ngIf="label" class="vf-form__label">{{label}}</label>
  <mat-form-field class="multi-select">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let selectedValue of selectedValues"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(selectedValue)">
        {{ displayWith? displayWith(selectedValue): selectedValue}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [id]="id"
        (keydown)="onInputKeyboardNavigation($event)"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-selection-list #selectionList (selectionChange)="onSelectionChange($event)"
                          (keydown)="onListKeyboardNavigation($event)">
        <mat-list-option [id]="'multi-select-mat-list-option-'+ id"
                         *ngFor="let option of options$ | async" [selected]="isSelected(option)" [value]="option">
          {{displayWith ? displayWith(option) : option}}
        </mat-list-option>
        <mat-option [style.display]="'none'"></mat-option>
      </mat-selection-list>
    </mat-autocomplete>
  </mat-form-field>
  <p *ngIf="helperText" class="vf-form__helper">{{helperText}}</p>
</div>


