<app-form-item [data]="data" [rootClass]="{'vf-form__item--checkbox':  inputType ==='checkbox'}">
  <div *ngIf="!disabled; else readOnlyView">
    <ng-container *ngIf="inputType ==='text' || inputType ==='number'; else checkboxInput">
      <input id="text_{{id}}" [attr.disabled]="disabled ? disabled : null" type="{{inputType}}"
             [class]="error ? 'vf-form__input force_invalid': 'vf-form__input'"
             [attr.required]="error && touched && isRequired ? isRequired : null" placeholder="{{placeholder}}"
             [(ngModel)]="value"
             (change)="change($event)" (blur)="onBlur($event)" [readonly]="readonly">
    </ng-container>

    <ng-template #checkboxInput>
      <input type="checkbox" id="check_{{id}}" [(ngModel)]="value" class="vf-form__checkbox" (change)="change($event)">
      <label *ngIf="label" for="check_{{id}}" class="vf-form__label">{{label}} </label>
    </ng-template>
    <p class="vf-form__helper vf-form__helper--error">{{error}}</p>
  </div>

  <ng-template #readOnlyView>
    <span class="content read-only">{{staticView()}}</span>
  </ng-template>
</app-form-item>
