<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Hi {{profile?.given_name}},</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8"
         *ngIf="(summary$ | async) || {draftSubmissions:0, pendingSubmissions:0, completedSubmissions:0}; let summary">
      <p>This is your dashboard, You currently have {{summary.draftSubmissions}} active draft submissions and
        {{summary.pendingSubmissions}} pending
        submissions. You have successfully completed {{summary.completedSubmissions}} submissions to the Human Cell
        Atlas. Thanks for
        contributing to the
        future of science.</p>
    </div>
    <div class="col-4">
      <app-new-submission></app-new-submission>
    </div>
  </div>
</div>

