<div class="metadata-table-container">

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-table [dataSource]="dataSource">

    <ng-container *ngFor="let column of displayedColumns" >
      <ng-container matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef>
          <!--<div class="example-tooltip-host" matTooltip="{{contentColumnMap[column]['description']}}" [matTooltipPosition]="'above'">-->
            {{column}}
          <!--</div>-->
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-metadata-field (onValueChange)="onValueChange($event)"
                              [value]="row[column]"
                              [columnName]="column"
                              [metadataType]="getMetadataSubType(row)"
                              [columnDefinition]="{}"   >
          </app-metadata-field>
        </mat-cell>
      </ng-container>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="metadataCount$ | async" [pageSize]="DEFAULT_PAGE_SIZE"
                 [pageSizeOptions]="PAGE_OPTIONS"></mat-paginator>

</div>
