.metadata-table-container{
  overflow-x: scroll;
  overflow-y: scroll;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25rem;
}
