<footer class="custom-footer">
  <div class="vf-footer__inner width-override">
    <div class="vf-footer__links-group | vf-grid ">
      <div class="vf-links">
        <h4 class="vf-links__heading">
          Data Contribution
        </h4>
        <ul class="vf-links__list | vf-list">
          <li class="vf-list__item">
            <a *ngIf="isLoggedIn$ | async" class="vf-list__link" (click)="onLogout($event)" href="javascript:void(0)">Log out</a>
            <a *ngIf="!(isLoggedIn$ | async)" class="vf-list__link" routerLink="/login">Log in</a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" href="mailto:wrangler-team@data.humancellatlas.org">
              Helpdesk
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" target="_blank" href="http://www.ebi.ac.uk/data-protection/privacy-notice/human-cell-atlas-ingest-submission">
              Privacy Notice
            </a>
          </li>
          <li class="vf-list__item">
            <a class="vf-list__link" target="_blank" href="https://data.humancellatlas.org/">
              HCA Data Portal
            </a>
          </li>
        </ul>
      </div>
      <div class="vf-links">
        <div class="legal-text-container">
          <div class="vf-u-float__right">
              <a href="https://www.ebi.ac.uk/" target="_blank">
                <img
                  height="45"
                  src="/assets/EMBL_EBI_Logo_black.svg"
                  alt="EMBL - European Bioinformatics Institute">
              </a>
              <p class="vf-footer__legal-text">
                This website and tools have been developed by EMBL-EBI
              </p>
              <p class="vf-footer__legal-text">
                as part of the Human Cell Atlas Data Coordination
                Platform
              </p>
          </div>

        </div>
      </div>
    </div>
    <section class="vf-footer__legal | vf-grid vf-grid__col-1">
      <div class="legal-text-container">
        <p class="vf-footer__legal-text">
          EMBL-EBI, Wellcome Genome Campus, Hinxton, Cambridgeshire, CB10 1SD, UK. +44(0)1223 49 44 44
        </p>
        <p class="vf-footer__legal-text">
          Copyright &#169; EMBL 2020 | EMBL-EBI is part of the European Molecular Biology Laboratory
        </p>
      </div>
    </section>
  </div>
</footer>
