<div class="dashboard mat-typography" *ngIf="projects || {}">
  <div>
    <table>
      <thead align="left">
      <tr>
        <th></th>
        <th>Short name</th>
        <th>Project title</th>
        <th>Last Updated</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td></td>
        <td><a [routerLink]="['/projects/detail']" [queryParams]="{uuid:project?.uuid?.uuid}" class="vf-link"><span
          title="{{project?.content?.project_core?.project_short_name}}">{{ project?.content?.project_core?.project_short_name }}</span></a>
        </td>
        <td>{{ project?.content?.project_core?.project_title }}
        </td>
        <td>{{project.updateDate | date: "medium"}}</td>
        <td>
          <a routerLink="/projects/{{project?.uuid?.uuid}}" class="vf-link"><span
            title="{{project?.content?.project_core?.project_short_name}}">Edit</span></a>
        </td>
      </tr>
      <tr *ngIf="!projects">
        <td></td><td>Loading your projects...</td>
      </tr>
      <tr *ngIf="projects && projects.length === 0">
        <td></td><td>You do not currently have any projects</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
