<h1 class="vf-text vf-text-heading--2">New Project</h1>
<p class="vf-text-body vf-text-body--3 vf-u-text-color--grey">
  Please provide initial information about your HCA project.
  You will be able to edit this information as your project develops.
</p>
<br/>
<br/>

<p *ngIf="!projectContent && !createMode">Loading project...</p>

<ng-container *ngIf="projectResource || createMode">
  <app-metadata-form name="project"
                     [schema]="projectJsonSchema"
                     [data]="projectContent"
                     [config]="config"
                     (save)="onSave($event)">
  </app-metadata-form>
</ng-container>
