<script src="../../shared/components/upload/upload.component.ts"></script>
<div class="container-fluid"><br/>
  <br/>
  <app-upload [projectId]="projectId" *ngIf="!submissionEnvelopeId" ></app-upload>
  <br/>

  <div class="card" *ngIf="submissionEnvelopeId">
    <div class="card-body">
      <tabs [navClass]="'nav-tabs'">
        <tab tabTitle="Biomaterials">
          <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'biomaterials'"> </app-metadata-list>
        </tab>
        <tab tabTitle="Protocols">
          <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'protocols'"> </app-metadata-list>
        </tab>
        <tab tabTitle="Processes">
          <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'processes'"> </app-metadata-list>
        </tab>
      </tabs>
    </div>
  </div>
  <br/>
</div>
