<app-upload [isUpdate]="isUpdate" [projectId]="projectId" *ngIf="!submissionEnvelopeId" ></app-upload>
<mat-card *ngIf="submissionEnvelopeId">
  <mat-tab-group>
    <mat-tab label="Biomaterials">
      <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'biomaterials'" [expectedCount]="manifest['expectedBiomaterials']" > </app-metadata-list>
    </mat-tab>
    <mat-tab label="Protocols">
      <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'protocols'" [expectedCount]="manifest['expectedProtocols']"> </app-metadata-list>
    </mat-tab>
    <mat-tab label="Processes">
      <app-metadata-list [submissionEnvelopeId]="submissionEnvelopeId" [metadataType]="'processes'" [expectedCount]="manifest['expectedProcesses']"> </app-metadata-list>
    </mat-tab>
  </mat-tab-group>
</mat-card>
<!--<mat-card *ngIf="submissionEnvelopeId">-->
  <!--<mat-tab-group>-->
    <!--<mat-tab label="Biomaterials">-->
      <!--<app-metadata-table [submissionEnvelopeId]="submissionEnvelopeId" [metadataEntity]="'biomaterials'"> </app-metadata-table>-->
    <!--</mat-tab>-->
    <!--<mat-tab label="Protocols">-->
      <!--<app-metadata-table [submissionEnvelopeId]="submissionEnvelopeId" [metadataEntity]="'protocols'"> </app-metadata-table>-->
    <!--</mat-tab>-->
    <!--<mat-tab label="Processes">-->
      <!--<app-metadata-table [submissionEnvelopeId]="submissionEnvelopeId" [metadataEntity]="'processes'"> </app-metadata-table>-->
    <!--</mat-tab>-->
  <!--</mat-tab-group>-->
<!--</mat-card>-->
